<?xml version="1.0"?>
<config>
	<modules>
		<Polytab_OmniPixel>
			<version>0.1.0</version>
		</Polytab_OmniPixel>
	</modules>
	<global>
		<helpers>
			<omnipixel>
				<class>Polytab_OmniPixel_Helper</class>
			</omnipixel>
		</helpers>
		<blocks>
			<omnipixel>
				<class>Polytab_OmniPixel_Block</class>
			</omnipixel>
		</blocks>
		<models>
			<omnipixel>
				<class>Polytab_OmniPixel_Model</class>
				<resourceModel>omnipixel_resource</resourceModel>
			</omnipixel>
			<omnipixel_resource>
				<class>Polytab_OmniPixel_Model_Resource</class>
				<entities>
					<updated_products>
						<table>datafeedwatch_updated_products</table>
					</updated_products>
					<omnipixelsetting>
						<table>omnipixel_settings</table>
					</omnipixelsetting>
				</entities>
			</omnipixel_resource>
		</models>
		<resources>
			<omnipixel_setup>
				<setup>
					<module>Polytab_OmniPixel</module>
				</setup>
			</omnipixel_setup>
		</resources>
		<events>
			<catalog_category_save_after>
				<observers>
					<omnipixel_catalog_category_save_after>
						<class>omnipixel/observer</class>
						<method>updateLastInheritanceUpdateDateOnCategoryChangeName</method>
					</omnipixel_catalog_category_save_after>
				</observers>
			</catalog_category_save_after>
			<catalog_category_delete_before>
				<observers>
					<omnipixel_catalog_category_delete_before>
						<class>omnipixel/observer</class>
						<method>updateLastInheritanceUpdateDate</method>
					</omnipixel_catalog_category_delete_before>
				</observers>
			</catalog_category_delete_before>
			<catalog_category_change_products>
				<observers>
					<omnipixel_catalog_category_change_products>
						<class>omnipixel/observer</class>
						<method>updateLastInheritanceUpdateDate</method>
					</omnipixel_catalog_category_change_products>
				</observers>
			</catalog_category_change_products>
			<catalog_category_tree_move_after>
				<observers>
					<omnipixel_catalog_category_tree_move_after>
						<class>omnipixel/observer</class>
						<method>updateLastInheritanceUpdateDate</method>
					</omnipixel_catalog_category_tree_move_after>
				</observers>
			</catalog_category_tree_move_after>
			<catalog_product_delete_before>
				<observers>
					<omnipixel_product_delete_before>
						<class>omnipixel/observer</class>
						<method>removeProductFromUpdatedTable</method>
					</omnipixel_product_delete_before>
				</observers>
			</catalog_product_delete_before>
			<catalog_product_save_after>
				<observers>
					<omnipixel_product_delete_before>
						<class>omnipixel/observer</class>
						<method>changeChildProductUpdatedAt</method>
					</omnipixel_product_delete_before>
				</observers>
			</catalog_product_save_after>
			<catalog_entity_attribute_save_before>
				<observers>
					<omnipixel_attribute_save_before>
						<class>omnipixel/observer</class>
						<method>checkAndUpdateAttributeInheritance</method>
					</omnipixel_attribute_save_before>
				</observers>
			</catalog_entity_attribute_save_before>
			<catalog_entity_attribute_delete_before>
				<observers>
					<omnipixel_attribute_delete_before>
						<class>omnipixel/observer</class>
						<method>updateLastInheritanceUpdateDate</method>
					</omnipixel_attribute_delete_before>
				</observers>
			</catalog_entity_attribute_delete_before>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<omnipixel>
					<file>omnipixel.xml</file>
				</omnipixel>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Polytab_OmniPixel before="Mage_Adminhtml">Polytab_OmniPixel_Adminhtml</Polytab_OmniPixel>
					</modules>
					<frontName>omnipixel</frontName>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<adminhtml_catalog_product_attribute_edit_prepare_form>
				<observers>
					<connector_add_inheritance_field_to_attribute_form>
						<class>omnipixel/observer</class>
						<method>addInheritanceFieldToAttributeForm</method>
					</connector_add_inheritance_field_to_attribute_form>
				</observers>
			</adminhtml_catalog_product_attribute_edit_prepare_form>
			<model_config_data_save_before>
				<observers>
					<dfw_connector_update_inheritance_date_after_config_save>
						<class>omnipixel/observer</class>
						<method>updateInheritanceUpdateDate</method>
					</dfw_connector_update_inheritance_date_after_config_save>
				</observers>
			</model_config_data_save_before>
		</events>
		<menu>
			<omnipixel module="omnipixel">
				<title>Polytab Attribution</title>
				<sort_order>100</sort_order>
				<children>
					<omnipixelbackend module="omnipixel">
						<title>Attribution Tracker</title>
						<sort_order>1</sort_order>
						<action>adminhtml/omnipixelbackend</action>
					</omnipixelbackend>
					<omnipixelbackend_config module="omnipixel">
						<title>Settings</title>
						<sort_order>2</sort_order>
						<action>adminhtml/omnipixelbackend/config</action>
					</omnipixelbackend_config>
					<!--<setting>
						<title>Polytab Pixel Heartbeat Settin</title>
						<sort_order>3</sort_order>
						<action>adminhtml/system_config/edit/section/omnipixel</action> 
					</setting>-->
				</children>
			</omnipixel>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<omnipixel translate="title" module="omnipixel">
							<title>OmniPixel</title>
							<sort_order>1000</sort_order>
							<children>
								<omnipixelbackend translate="title">
									<title>Polytab Pixel Heartbeat</title>
								</omnipixelbackend>
							</children>
						</omnipixel>
						<system>
							<children>
								<config>
									<children>
										<omnipixel>
											<title>Polytab</title>
										</omnipixel>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<omnipixel>
					<file>omnipixel.xml</file>
				</omnipixel>
			</updates>
		</layout>
	</adminhtml>
	<crontab>
		<jobs>
			<omnipixel_fill_updated_at_table>
				<schedule><cron_expr>0 * * * *</cron_expr></schedule>
				<run><model>omnipixel/cron::reindex</model></run>
			</omnipixel_fill_updated_at_table>
		</jobs>
	</crontab>
	<default>
		<omnipixel>
			<general>
				<debug>0</debug>                
				<terms_conditions>1</terms_conditions>                
			</general>
			<custom_inheritance>
				<product_url>1</product_url>
				<image_url>0</image_url>
			</custom_inheritance>
		</omnipixel>
	</default>
</config> 